-e git+https://github.com/keras-team/autokeras.git@legacy#egg=autokeras
jupyter
keras
pandas
papermill
pytorch-model-summary
-f https://download.pytorch.org/whl/torch_stable.html
torch===1.4.0
torchvision===0.5.0
